@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
--font-montserrat: var(--font-montserrat), sans-serif;
  --font-urbanist: var(--font-urbanist), sans-serif;

  /* Set Urbanist as the default 'sans' for the whole project */
  --font-sans: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: var(--font-urbanist);
}

